extends ../../layouts/main

block content
    .container
        .row.mt-5
            .col-sm-6
                table.table
                    thead
                        tr
                            th #
                            th Nome
                            th Descrição
                            th Ações
                    tbody
                    each todo in todos
                        tr
                            td= todo.id
                            td= todo.title
                            td= todo.description
                            td
                                a(class='btn btn-primary btn-sm btn-block mt-1 text-white', href='/todo/' + todo.id) Ver
                                a.btn.btn-danger.btn-sm.btn-block.text-white(href='/todo/delete/' + todo.id) Apagar

            .col-sm-6
                .card
                    .card-header.bg-primary.text-white.d-flex
                        | Nova tarefa
                        a(href='/todo/' class='text-white ml-auto') +Novo
                    .card-body
                        if todoEdit == null
                            include partials/form-create
                        else
                            include partials/form-update

